.wrapper {
    display: flex;
}

.header {
    width: 100%;
    display: flex;
    background-color: var(--primary);
    font-size: 11px;
    font-weight: 700;
    height: var(--height-header);
    align-items: center;
    justify-content: space-around;
}

.header a {
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.page {
    display: flex;
    justify-content: space-around;

    flex: 1;
}

.logo {
    height: 100%;
    img {
        height: 100%;
    }
}

.user-action {
    width: 30%;
    display: flex;
    justify-content: end;
    margin-right: 8%;
}

.search {
    margin-top: 5px;
    height: 15px;
    padding-left: 50px;
}
