.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-default {
    position: relative;
    height: 2000px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content {
    margin-top: var(--height-header);
}
.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
