.wrapper {
    position: relative;
}
.layout-default {
    position: relative;
    flex-direction: column;
<<<<<<< HEAD
    
=======
>>>>>>> 59a17c82940caebbc258df3cd90486bb9caa9525
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info{
    background-color: black;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site{
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}