.wrapper {
    h1 {
        font-size: 80px;
    }
}
.header {
    text-align: center;
    font-family: 'Castoro Titling', cursive;
    // font-size: 100px;
    font-weight: 600;
}
.ground {
    margin-top: 25px;
    display: flex;
    // justify-content: center;
    // align-items: flex-start;
}
.ground_btn {
    background-color: white;
    margin-left: var(--magin-left);
    height: auto;
    padding: 10px 30px;
    width: 20%;
    p {
        font-weight: 600;
    }
}
.ground_btn + .ground_btn {
    margin-left: 20px;
}
.body {
    margin-top: 20px;
    // display: flex;
    justify-content: center;

    text-align: center;
}
.body_layout {
    margin-top: 20px;
    display: flex;
    width: 65%;
    margin-left: var(--magin-left);
    flex-wrap: wrap;
}
.layout {
    display: flex;
    flex-basis: calc(33.33% - 10px);
    width: fit-content;
    flex-direction: column;
    display: block;
}
.layout + .layout {
    margin-left: 5px;
}
.layout + .layout {
    margin-top: 10px;
}

.wrap_img {
    width: fit-content;
    display: block;
    padding: 10px;
    background-color: white;
    .img {
        width: 300px;
        display: block;
    }
}
.wrap_img + .wrap_img {
    margin-top: 20px;
}
